@using myfinance_web_dotnet_08.Domain

<h1>Plano de Contas</h1>
<br />

<a type="button" class="btn btn-primary" asp-controller="PlanoConta" asp-action="Cadastro">Criar item de Plano de Conta</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>#</th>
        <th>#</th>
    </tr>
    @foreach (var item in (List<PlanoConta>)ViewBag.Lista)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.Tipo</td>
            <td><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
            <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>
        </tr>
    }
</table>

<script>
    function Editar(id) {
        window.location.href = "../PlanoConta/Cadastro/" + id;
    }
    function Excluir(id) {
        window.location.href = "../PlanoConta/Excluir/" + id;
    }
</script> 